<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.webtech.emploi"
    version   = "1.0.5">

<name>Job Emploi CI</name>

<description>
Application mobile dans le but de rapprocher les employeurs des demandeurs d'emploi
</description>

<author href="" email="gorbiromaric@gmail.com">
Gor Bi Romaric, Webtech , Côte d'Ivoire
</author>
<icon src="carto_logo.jpg" />
<icon src="carto_logo.png" gap:platform="android" gap:qualifier="ldpi" />
<gap:splash src="demarrage_portrait.png" />
<gap:splash src="demarrage_portrait.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
<gap:splash src="demarrage_paysage.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
<gap:splash src="demarrage_paysage.jpg" gap:platform="winphone" />
<gap:splash src="demarrage_portrait_iphone.png" gap:platform="ios" width="320" height="480" />
<access origin="*" />
</widget>
